.background{
    background-color:#0A1B57;    
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin:auto;
    width:75%;

    background-color:whitesmoke;
    color:black;

    display: flex;
    flex-flow: row wrap;

    border: 3px solid;
    border-radius:5px;
    padding: 3px 3px 3px 3px;
}

.borderless-max-container{
    margin:auto;    

    background-color:whitesmoke;
    color:black;

    display: flex;
    flex-flow: row wrap;
}

.horizontal-container{    
    margin:auto;
    width:75%;    

    background-color:whitesmoke;
    color:black;

    display: flex;
    flex-flow: column wrap;

    border: 3px solid;
    border-radius:5px;
    padding: 3px 3px 3px 3px;
}

.borderless-horizontal-list{        
    color:black;

    display:flex;
    flex-flow:column wrap;
}

.borderless-horizontal-container{
    margin:auto;
    width:75%;
        
    color:black;

    display:flex;
    flex-flow:column wrap;
}

.third-column{    
    text-align:center;
    width:33.3%;
}

.half-column{
    text-align:center;
    width:50%;
}

.left-column{
    float:left;
}

.row{
    
}

.float-container{
    float:left;
}

.hidden{
    display:none;
}

ul.bulletless{
    list-style-type:none;
}

.footer{
    font-size:small;
    margin:auto;
}
